In [30]:
# EDA ì‚¬ì „ ì„¸íŒ…
%matplotlib inline

import time
import os
import openai

os.environ['KMP_WARNINGS'] = 'off'
from functools import reduce
import matplotlib as mpl
from datetime import datetime
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) ## ëª¨ë“  ì—´ì„ ì¶œë ¥í•œë‹¤.
import seaborn as sns  #ë°ì´í„° ì‹œê°í™” 
sns.set(font="AppleGothic", 

        rc={"axes.unicode_minus":False},
        
        style='darkgrid')

In [31]:
data = pd.read_csv('/Users/choejeehyuk/DNA/ğŸš²UOS ë¹…ë°ì´í„° ì•Œê³ ë¦¬ì¦˜ ê²½ì§„ëŒ€íšŒ/train.csv')
sample_submission_raw = pd.read_csv('/Users/choejeehyuk/DNA/ğŸš²UOS ë¹…ë°ì´í„° ì•Œê³ ë¦¬ì¦˜ ê²½ì§„ëŒ€íšŒ/sample_submission.csv')

In [32]:
data['ì¼ì‹œ'] = data['ì¼ì‹œ'].astype('str')

#data['MS'] = pd.to_datetime(data['ì¼ì‹œ']).dt.to_period('m')
data['ì¼ì‹œ'] = pd.to_datetime(data['ì¼ì‹œ']).dt.date
data = data.set_index('ì¼ì‹œ')
data.sort_index(inplace=True)
data

              ê´‘ì§„êµ¬   ë™ëŒ€ë¬¸êµ¬    ì„±ë™êµ¬    ì¤‘ë‘êµ¬
ì¼ì‹œ
2018-01-01  0.592  0.368  0.580  0.162
2018-01-02  0.840  0.614  1.034  0.260
2018-01-03  0.828  0.576  0.952  0.288
2018-01-04  0.792  0.542  0.914  0.292
2018-01-05  0.818  0.602  0.994  0.308
...           ...    ...    ...    ...
2021-12-27  3.830  3.416  2.908  2.350
2021-12-28  4.510  3.890  3.714  2.700
2021-12-29  4.490  3.524  3.660  2.524
2021-12-30  4.444  3.574  3.530  2.506
2021-12-31  3.616  3.210  2.620  2.146

[1461 rows x 4 columns]

In [33]:
data.isnull().sum()

ê´‘ì§„êµ¬     0
ë™ëŒ€ë¬¸êµ¬    0
ì„±ë™êµ¬     0
ì¤‘ë‘êµ¬     0
dtype: int64

In [34]:
print(data[data['ê´‘ì§„êµ¬'] <= 0])
print(data[data['ì„±ë™êµ¬'] <= 0])
print(data[data['ë™ëŒ€ë¬¸êµ¬'] <= 0])
print(data[data['ì¤‘ë‘êµ¬'] <= 0])

            ê´‘ì§„êµ¬  ë™ëŒ€ë¬¸êµ¬  ì„±ë™êµ¬  ì¤‘ë‘êµ¬
ì¼ì‹œ
2019-09-07  0.0   0.0  0.0  0.0
            ê´‘ì§„êµ¬  ë™ëŒ€ë¬¸êµ¬  ì„±ë™êµ¬  ì¤‘ë‘êµ¬
ì¼ì‹œ
2019-09-07  0.0   0.0  0.0  0.0
            ê´‘ì§„êµ¬  ë™ëŒ€ë¬¸êµ¬  ì„±ë™êµ¬  ì¤‘ë‘êµ¬
ì¼ì‹œ
2019-09-07  0.0   0.0  0.0  0.0
            ê´‘ì§„êµ¬  ë™ëŒ€ë¬¸êµ¬  ì„±ë™êµ¬  ì¤‘ë‘êµ¬
ì¼ì‹œ
2019-09-07  0.0   0.0  0.0  0.0

In [35]:
data.drop(data[data['ê´‘ì§„êµ¬'] == 0].index, inplace=True)

In [36]:
data.asfreq(freq='d', method='ffill')

              ê´‘ì§„êµ¬   ë™ëŒ€ë¬¸êµ¬    ì„±ë™êµ¬    ì¤‘ë‘êµ¬
ì¼ì‹œ
2018-01-01  0.592  0.368  0.580  0.162
2018-01-02  0.840  0.614  1.034  0.260
2018-01-03  0.828  0.576  0.952  0.288
2018-01-04  0.792  0.542  0.914  0.292
2018-01-05  0.818  0.602  0.994  0.308
...           ...    ...    ...    ...
2021-12-27  3.830  3.416  2.908  2.350
2021-12-28  4.510  3.890  3.714  2.700
2021-12-29  4.490  3.524  3.660  2.524
2021-12-30  4.444  3.574  3.530  2.506
2021-12-31  3.616  3.210  2.620  2.146

[1461 rows x 4 columns]

In [37]:
print(data[data['ê´‘ì§„êµ¬'] <= 0])
print(data[data['ì„±ë™êµ¬'] <= 0])
print(data[data['ë™ëŒ€ë¬¸êµ¬'] <= 0])
print(data[data['ì¤‘ë‘êµ¬'] <= 0])

Empty DataFrame
Columns: [ê´‘ì§„êµ¬, ë™ëŒ€ë¬¸êµ¬, ì„±ë™êµ¬, ì¤‘ë‘êµ¬]
Index: []
Empty DataFrame
Columns: [ê´‘ì§„êµ¬, ë™ëŒ€ë¬¸êµ¬, ì„±ë™êµ¬, ì¤‘ë‘êµ¬]
Index: []
Empty DataFrame
Columns: [ê´‘ì§„êµ¬, ë™ëŒ€ë¬¸êµ¬, ì„±ë™êµ¬, ì¤‘ë‘êµ¬]
Index: []
Empty DataFrame
Columns: [ê´‘ì§„êµ¬, ë™ëŒ€ë¬¸êµ¬, ì„±ë™êµ¬, ì¤‘ë‘êµ¬]
Index: []

In [38]:
import statsmodels.api as sm
result = sm.tsa.seasonal_decompose(x = data["ê´‘ì§„êµ¬"],model='additive', period = 360)

In [39]:
detrended = data["ê´‘ì§„êµ¬"] - result.trend
detrended

ì¼ì‹œ
2018-01-01   NaN
2018-01-02   NaN
2018-01-03   NaN
2018-01-04   NaN
2018-01-05   NaN
              ..
2021-12-27   NaN
2021-12-28   NaN
2021-12-29   NaN
2021-12-30   NaN
2021-12-31   NaN
Length: 1460, dtype: float64

In [40]:
df_detrended = pd.concat([data, detrended], axis=1)
#df_detrended.columns = ['original_ê´‘ì§„êµ¬', 'detrended_ê´‘ì§„êµ¬']

# ê²°ê³¼ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤.
print(df_detrended.head())

              ê´‘ì§„êµ¬   ë™ëŒ€ë¬¸êµ¬    ì„±ë™êµ¬    ì¤‘ë‘êµ¬   0
ì¼ì‹œ
2018-01-01  0.592  0.368  0.580  0.162 NaN
2018-01-02  0.840  0.614  1.034  0.260 NaN
2018-01-03  0.828  0.576  0.952  0.288 NaN
2018-01-04  0.792  0.542  0.914  0.292 NaN
2018-01-05  0.818  0.602  0.994  0.308 NaN